/* GSAP */
#about .content .media {
    opacity: 0;
}
#about .content .media .video {
    width: 0%;
}
#about .content .text {
    opacity: 0;
}
/* === */

#about .content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--section__gap);
    align-items: center;
}

#about .content .svg-media-accent {
    height: 240px;
}

#about .content .video {
    position: relative;
    height: 234px;
    border: 2px solid var(--white--default);
}

#about .content video {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    filter: brightness(1.25);
    object-fit: cover;
}

#about .content .text {
    position: relative;
    width: 100%;
}

#about .content .text .body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width: 999px) {
    #about .content {
        flex-direction: column-reverse;
    }
}