#contact {
    position: relative;
    background: var(--surface--default);
}

#contact .svg-edge {
    top: -35px;
}

#contact .bg-fill {
    position: absolute;
    background: var(--surface--default);
    width: calc(100vw + 48px);
    height: calc(100% + 24px);
    transform: translateX(-24px);
    box-shadow: 0px 1px 64px 0px var(--white--offwhite);
}

#contact .content {
    position: relative;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--section__gap);
    padding-top: 24px;
}

/* CONTENT */
#contact .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

@media screen and (max-width: 550px) {
    #contact .content {
        flex-direction: column;
    }

    #contact .column {
        gap: 1rem;
    }
}

/* TEXT (LEFT) */
#contact .header {
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-family: var(--ff-headers);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 0;
}
#contact .header.header--large {
    font-size: var(--section__title);
    max-width: 400px;
}
#contact .header.header--small {
    font-size: 14px;
    color: var(--white--offwhite);
}

#contact .signoff p {
    width: 300px;
    margin-bottom: 0;
}

#contact .links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#contact .links .group .icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 4px;
}

#contact .links .group .icons a i {
    font-size: 24px;
    color: var(--white--default);
}


@media screen and (max-width: 750px) {
   #contact .signoff p {
        width: 250px;
    }
}

#contact .location-column .row {
    position: relative;
    display: flex;
    align-items: center;
}

/* GSAP */
.svg-location-bumper,
#contact .location-column .container .location {
    opacity: 0;
}
#contact .location-column .container {
    max-width: 0px;
}
#contact .indicator .text {
    opacity: 1;
    left: 0px;
}
/* === */

#contact .svg-media-accent,
#contact .location-column .container {
    height: 240px;
}

#contact .location-column .container {
    position: relative;
    width: 100%;
    border: 2px solid;
    height: calc(240px - 5px)
}

/* Outline w/ 3d State */
#contact .location-column .location {
    position: relative;
    bottom:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    height: 100%;
    width: 160px;
    border: 2px soid var(--white--offwhite);
}

#contact .location-column .location .based {
    font-family: var(--ff-headers);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-bottom: 0;
    font-size: 14px;
    color: var(--white--offwhite);
}

#contact .svg-container {
    position: relative;
    height: 125px;
    width: 100%;
}

#contact .svg-container svg {
    display: none;
}

#contact .svg-container canvas {
    transform: rotateZ(4deg);
}

#contact .location .state-name {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    margin-top: 4px;
}

/* Coordinates */
#contact .coordinates {
    color: var(--white--offwhite);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: .25rem;
    padding-top: .25rem;
}

#contact .coordinates span {
    font-size: 10px !important;
    letter-spacing: 2px;
}

#contact .copyright {
    display: block;
    text-align: right;
    padding-right: .25rem;
}

@media screen and (max-width: 550px) {
    #contact .location-column .row {
        flex-direction: row;
    }
    .svg-location-bumper {
        transform: scaleX(1);
    }
    #contact .svg-location-border {
        transform: scaleX(-1)translateY(-1px);
        left: 16px;
        right: auto;
    }

    #contact .coordinates {
        align-items: flex-start;
    }
    #contact .location .state-name {
        justify-content: flex-start;
    }

    #contact .copyright {
        text-align: left;
        padding-right: 0;
        padding-left: .25rem;
    }
}