/* GSAP Modifications */
#contact .signoff p {
    opacity: 0;
    transform: translateX(50px);
}

#contact .links .link-group .email {
    opacity: 0;
    transform: translateX(50px);
}

#contact .links .link-group .icons {
    opacity: 0;
    transform: translateX(50px);
}

/* #contact .location-column .location {
    transform: translateX(-50px);
    opacity: 0;
}

#contact .coordinates {
    opacity: 0;
    transform: translateX(-50px);
}

@media screen and (max-width: 500px) {
    #contact .location-column .location,
    #contact .coordinates {
        transform: translateX(50px);
    }
} */

/* === */

#contact {
    max-width: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--section__gap);
    padding-top: 92px; /* Keep plate edge away from content */
}

/* CONTENT */
#contact .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

@media screen and (max-width: 500px) {
    #contact {
        flex-direction: column;
    }

    #contact .column {
        gap: 1rem;
    }
}

/* TEXT (LEFT) */
#contact .signoff p {
    width: 300px;
    margin-bottom: 0px;
}

#contact .links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#contact .links .link-group {
    display: flex;
    flex-direction: column;
}

#contact .links .link-group .icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#contact .links .link-group .icons a i {
    font-size: 24px;
    color: var(--white--default);
}


@media screen and (max-width: 750px) {
   #contact .signoff p {
        width: 250px;
    }
}


/* Outline w/ 3d State */
#contact .location-column .location {
    position: relative;
    bottom:0;
    width: 150px;
    height: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

 #uniqueOutlineContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 215px;
} 

#contact #uniqueOutlineContainer span {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: .5rem;
}

#contact #uniqueOutlineContainer #uniqueOutline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#contact #uniqueOutlineContainer #uniqueOutline path {
    fill: none;
    stroke: var(--white--default);
    stroke-width: 2;
}

#contact #state-container {
    position: relative;
    height: 125px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact #state-container svg {
    display: none;
    width: 100px;
    height: 100px;
}

#contact #state-container svg path {
    stroke: var(--white--default);
    stroke-width: .7px;
    fill: transparent;
}

#contact #state-container canvas {
    transform: rotateZ(8deg);
    height: 150px;
    width: 150px;
}

#contact .location .state {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-top: 1px solid var(--white--default);
    padding-top: 8px;
    margin-bottom: 1rem;
}

/* Coordinates */
#contact .coordinates {
    color: var(--white-offwhite);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: .25rem;
    padding-top: .25rem;
}

#contact .coordinates span {
    font-size: 12px !important;
    letter-spacing: 2px;
}

#contact .copyright {
    display: block;
    text-align: right;
    padding-right: .25rem;
}

@media screen and (max-width: 500px) {
    #contact #uniqueOutlineContainer #uniqueOutline {
        transform: rotateY(180deg);
    }
    #contact #uniqueOutlineContainer span {
        padding-left: 3.25rem;
    }

    #contact .coordinates {
        align-items: flex-start;
        padding-right: 0rem;
        padding-left: .25rem;
    }

    #contact .copyright {
        text-align: left;
        padding-right: 0rem;
        padding-left: .25rem;
    }
}