/* GSASP Modifications */
#projects .project .media {
    opacity: 0;
}
#projects .project .media .image {
    max-width: 0%;
}
#projects .project .content {
    opacity: 0;
}
/* === */

#projects {
    gap: calc(var(--section__gap) / 2);
}

#projects .project {
    justify-content: flex-start;
}

#projects .controls {
    width: fit-content;
    display: flex;
    gap: .5rem;
}

#projects .controls button {
    position: relative;
    background: var(--primary--dark);
    color: var(--primary--light);
    border: none;
    outline: none;
    padding: .25rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1.15px;
    transition: .3s;
    border-radius: var(--button-borderRadius)
}
#projects .controls button:focus-within {
    outline: auto;
}
#projects .controls button:focus-within,
#projects .controls button:hover {
    background: color-mix(in srgb, var(--primary--dark), white 15%);
    color: color-mix(in srgb, var(--primary--light), black 15%);
}
#projects .controls button.active {
    background: var(--primary--light);
    color: var(--primary--dark);
}

#projects article .content {
    height: 290px;
}

#projects article .media {
    position: relative;
}

#projects article .media .svg-media-accent {
    height: 375px;
}

#projects article .media .image {
    position: relative;
    z-index: 3;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(375px - var(--svg-accent--width));
    height: calc(375px - 9px);
    border: var(--border--default);

    background-position: center;
    overflow: hidden;
}

#projects article .media .image svg {
    width: 250px;
    flex-shrink: 0;
    fill: var(--white--default);
}

#projects article .media .image #phoneUnder,
#projects article .media .image #phoneOver {
    width: 150px;
    height: 312px;
}

#projects article .media .image #phoneUnder {
    margin-right: -24px;
    transform: rotate(-4deg);
}
#projects article .media .image #phoneOver {
    margin-left: -24px;
    transform: rotate(4deg);
}

#projects .project .content {
    max-width: 100%;
}

@media screen and (max-width: 1000px) {
    #projects article .media .svg-media-accent {
        height: 250px;
    }
    #projects article .media .image {
        width: calc(250px - var(--svg-accent--width));
        height: calc(250px - 6px);
    }
    #projects article .media .image {
        width: calc(250px - var(--svg-accent--width));
        height: calc(250px - 6px);
    }
    #projects article .media .image #phoneUnder,
    #projects article .media .image #phoneOver {
        width: 100px;
        height: 210px;
    }
    #projects article .media .image svg {
        width: 150px;
    }
}

@media screen and (max-width: 750px) {
    #projects article {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 500px) {
    /* #projects article .image {
        width: 275px;
    } */

    #projects article .image img {
        width: 100px;
        height: 212px;
    }
}