/* GSASP Modifications */
#projects .project .media {
    opacity: 0;
}
#projects .project .media .image {
    max-width: 0%;
}
#projects .project .content {
    /* transform: translateX(50px);*/
    opacity: 0;
}
/* === */

#projects article .content {
    height: 275px;
}

#projects article .media {
    position: relative;
}

#projects article .media .controls {
    position: absolute;
    bottom: 4px;
    right: 4px;
    z-index: 3;
    padding: 1rem 1.5rem;
    display: flex;
    gap: 8px;

    opacity: 0;
}
#projects article .media .controls button {
    background: var(--white--default);
    color: var(--surface--default);
    outline: none;
    border: none;
    transition: var(--transition--default);
    cursor: pointer;
    width: 32px;
    height: 32px;
}
#projects article .media .controls button:hover {
    background: var(--white--offwhite);
}

#projects article .media .svg-media-accent {
    height: 375px;
}

#projects article .media .image {
    position: relative;
    z-index: 3;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(375px - var(--svg-accent--width));
    height: calc(375px - 9px);
    border: var(--border--default);

    background-position: center;
    overflow: hidden;
}

#projects article .media .image .svg-rpg {
    width: 300px;
    flex-shrink: 0;
}

#projects article .media .image .svg-rpg .outer,
#projects article .media .image .svg-rpg .inner {
    fill: var(--surface--1)
}
#projects article .media .image .svg-rpg .middle,
#projects article .media .image .svg-rpg .dragon {
    fill: var(--white--offwhite)
}

#projects article .media .image img {
    position: relative;
    width: 300px;
}

#projects article .media .image #phoneUnder,
#projects article .media .image #phoneOver {
    width: 150px;
    height: 312px;
}

#projects article .media .image #phoneUnder {
    margin-right: -24px;
    transform: rotate(-4deg);
}
#projects article .media .image #phoneOver {
    margin-left: -24px;
    transform: rotate(4deg);
}
@media screen and (max-width: 1000px) {
    #projects article .media .svg-media-accent {
        height: 250px;
    }
    #projects article .media .image {
        width: calc(250px - var(--svg-accent--width));
        height: calc(250px - 6px);
    }
    #projects article .media .image {
        width: calc(250px - var(--svg-accent--width));
        height: calc(250px - 6px);
    }
    #projects article .media .image #phoneUnder,
    #projects article .media .image #phoneOver {
        width: 100px;
        height: 210px;
    }
    #projects article .media .image .svg-rpg {
        width: 200px;
    }
}

@media screen and (max-width: 750px) {
    #projects article {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 500px) {
    /* #projects article .image {
        width: 275px;
    } */

    #projects article .image img {
        width: 100px;
        height: 212px;
    }
}